# Bytecode
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
.venv/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# fraud_streaming
fraud_streaming/.ivy2/
fraud_streaming/data/parquet/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/*.duckdb
dbt/*.duckdb.wal
